@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: #424242;
  --sidebar-background: #303030;
  --sidebar-text: #ffffff;
  --sidebar-width: 80%;
}

@media (min-width: 768px) {
  :root {
    --sidebar-width: 220px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(194, 194, 194) var(--sidebar-background);
}
html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Montserrat", -apple-system, sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
